<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>罗涛</title>
    <!--浏览器图标-->
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/static/favicon.ico}"/>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/static/css/bootstrap.min.css}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/pace.css"th:href="@{/static/css/pace.css}">
    <link rel="stylesheet" href="css/custom.css"th:href="@{/static/css/custom.css}">
    <!--图标-->
    <!--<link rel="icon" type="image/x-icon" th:href="@{/static/img/favicon.ico}">-->

    <!-- js -->
    <script src="js/jquery-2.1.3.min.js" th:src="@{/static/js/jquery-2.1.3.min.js}"></script>
    <script src="js/bootstrap.min.js"th:src="@{/static/js/bootstrap.min.js}"></script>
    <script src="js/pace.min.js"th:src="@{/static/js/pace.min.js}"></script>
    <script src="js/modernizr.custom.js"th:src="@{/static/js/modernizr.custom.js}"></script>
</head>

<body>
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-5 col-xs-8">
                <div class="logo">
                    <h1><a href="index.html" th:href="@{/index}"><b>🙄罗涛的博客</b></a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-7 col-xs-4">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="cl-effect-11"><a href="index.html" th:href="@{/index}" data-hover="首页">首页</a></li>
                            <li class="cl-effect-11"><a href="full-width.html" th:href="@{/full-width}" data-hover="SpringCloud">SpringCloud</a></li>
                            <li class="cl-effect-11"><a href="about.html" th:href="@{/about}" data-hover="关于">关于</a></li>
                            <li class="cl-effect-11"><a href="contact.html" th:href="@{/contact}" data-hover="联系">联系</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="#">
                            <input type="search" placeholder="搜索" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-8 -->
        </div>
    </header>
</div>
<!--<div class="copyrights">Collect from <a href="http://www.cssmoban.com/">网页模板</a></div>-->
<!--<div class="copyrights">Modified by <a href="http://zmrenwu.com/">追梦人物的博客</a></div>-->

<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                <article th:each="article:${articles}">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="single.html"th:text="${article.title}" th:href="@{'/single?id='+${article.id}}">标题</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#" th:text="${article.category}">种类</a></span>
                            <span class="post-date"><a href="#"><time th:text="${#dates.format(article.createTime,'yyyy-MM-dd')}" class="entry-date">2017年5月11日</time></a></span>
                            <span class="post-author"><a href="#" th:text="${article.author}">作者</a></span>
                            <span class="comments-link"><a href="#" th:text="${article.commentNum}">4</a><a> 评论</a></span>
                            <span class="views-count"><a href="#" th:text="${article.readNum}">588</a><a> 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p th:text="${article.content}">内容</p>
                        <div class="read-more cl-effect-14">
                            <a href="#" th:href="@{'/single?id='+${article.id}}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>

                <!-- 简单分页效果
                <div class="pagination-simple">
                    <a href="#">上一页</a>
                    <span class="current">第 6 页 / 共 11 页</span>
                    <a href="#">下一页</a>
                </div>
                -->
                <div class="pagination">
                    <ul class="pagination pull-right">
                        <li><a href="javascript:return false;" style="opacity: 0.2" th:if="${articles.getPageNum()} eq '1'">上一页</a></li>
                        <li><a href="#" th:if="${articles.getPageNum()} ne '1'" th:href="@{'/index?pageNum='+${articles.getPageNum()-1}}">上一页</a></li>


                        <li th:each="i:${#numbers.sequence(1,articles.getPages())}">
                            <a th:if="${articles.getPageNum()} ne ${i}" th:href="@{'/index?pageNum='+${i}}" th:text="${i}">1</a>
                            <a th:if="${articles.getPageNum()} eq ${i}" href="javascript:return false;" style="opacity: 0.2" th:text="${i}">1</a>
                        </li>

                        <li><a href="javascript:return false;" style="opacity: 0.2" th:if="${articles.getPageNum()} eq ${articles.getPages()}">下一页</a></li>
                        <li><a href="#"th:if="${articles.getPageNum()} ne ${articles.getPages()}" th:href="@{'/index?pageNum='+${articles.getPageNum()+1}}">下一页</a></li>
                    </ul>
                </div>
            </main>
            <aside class="col-md-4">
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">热门文章</h3>
                    <ul th:each="hotArticle:${hotArticles}">
                        <li>
                            <a href="#" th:href="@{'/single?id='+${hotArticle.id}}" th:text="${hotArticle.title}">最火文章</a>
                        </li>
                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    <ul>
                        <li>
                            <a href="#">2018 年 11 月</a>
                        </li>
                        <li>
                            <a href="#">2018 年 10 月</a>
                        </li>
                        <li>
                            <a href="#">2018 年 9 月</a>
                        </li>
                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    <ul>
                        <li>
                            <a href="#">java基础 <span class="post-count"></span></a>
                        </li>
                        <li>
                            <a href="#">SpringCloud <span class="post-count"></span></a>
                        </li>
                        <li>
                            <a href="#">SpringBoot <span class="post-count"></span></a>
                        </li>
                    </ul>
                </div>

                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    <ul>
                        <li>
                            <a href="#">Html</a>
                        </li>
                        <li>
                            <a href="#">mysql</a>
                        </li>
                        <li>
                            <a href="#">Java</a>
                        </li>
                        <li>
                            <a href="#">笔记</a>
                        </li>
                        <li>
                            <a href="#">文档</a>
                        </li>
                        <li>
                            <a href="#">SpringBoot</a>
                        </li>
                        <li>
                            <a href="#">CSS</a>
                        </li>
                        <li>
                            <a href="#">JavaScript</a>
                        </li>
                        <li>
                            <a href="#">SpringCloud</a>
                        </li>
                        <li>
                            <a href="#">jQuery</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy; 2018 luotao.wang</p>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="index.html"th:href="@{/index}">首页</a></li>
            <li><a href="full-width.html"th:href="@{/full-width}">SpringCloud</a></li>
            <li><a href="about.html"th:href="@{/about}">关于</a></li>
            <li><a href="contact.html"th:href="@{/contact}">联系</a></li>
        </ul>
    </nav>
</div>

<script src="js/script.js" th:src="@{/static/js/script.js}"></script>

</body>
</html>
